form
{
	width: 40em;
}

form label
{
	width: 5em;
	display: block;
	float: left;
}
form input 
{
	width: 38em;
}

form textarea
{
	width: 45em;
}

form button
{
	display: block;
	margin: auto;
	margin-top: 1em;
}

#divResult
{
	margin-top: 2em;
}

.divRecord
{
	margin-bottom: 20px;
}
h4{
	margin-bottom: 0px;
	margin-top: 0px;
}

p{
	margin-top: 0px;
}