form
{
	width: 40em;
}

form label
{

	display: block;

}
form input 
{
	display: block;
}

form textarea
{
	display: block;
}

form button
{
	display: block;
	margin: auto;
	margin-top: 1em;
}

#divResult
{
	margin-top: 2em;
}

.divRecord
{
	margin-bottom: 20px;
}
h4{
	margin-bottom: 0px;
	margin-top: 0px;
}

p{
	margin-top: 0px;
}