<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="<?=DEF_JS_PATH."json2.js" ?>"></script>
		<script type="text/javascript" src="<?=DEF_JS_PATH."xmlhttprequest.js" ?>"></script>
		<script type="text/javascript" src="<?=DEF_JS_PATH."scriptnote.js" ?>"></script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="<?=DEF_CSS_PATH."json_3.css" ?>">
        
        <script type="text/javascript">
       	</script>
    </head>
    <body>
