<form action="" onsubmit="return false">
            <h1>Удаленный блокнот</h1>
            <a href="/newnote">Новая заметка</a>
            <a href="/list">Список заметок</a>
            <br>
        </form>
   </body>
</html>
