 <form action="actionAdd" onsubmit="return false">
             <h1>Удаленный блокнот</h1>
             <a href="/newnote">Новая заметка</a>
             <a href="/list">Список заметок</a>
             <br>
         <div id="divResult"></div>
    </body>
</html>
